/*

Estilos CSS personalizados. Estos estilos deben de sobreescribir otros existentes (si los hay).
Para que no coincidan con otros se distinguiran con [at--].

*/


/* 
----------------
Imports 
----------------
*/
@import url('https://fonts.googleapis.com/css2?family=Jua&family=M+PLUS+Rounded+1c&display=swap');


/* 
----------------
Generales 
----------------
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-font-color: #000;
    --secondary-font-color: #fff;
    --tertiary-font-color: #4f4f4f;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    margin-bottom:auto;
}

footer{
    margin-top: auto;
}

.at--centered_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.at--centered_column{
    padding: 70px 400px;
}


/* 
----------------
Fuentes 
----------------
*/

/*- JUA -*/
.jua{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/*- M PLUS Round 1c -*/
.mplusr1c{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* 
----------------
Header 
----------------
*/


.at--header__container{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 105px;
    height: 100px;
    background-color: var(--palette-main-color);
    margin-bottom: 20px;
}

.at--left__container{
    display: flex;
    align-items: center;
}

.at--left__container img{
    height: auto;
    width: 251px;
}

.at--account__container{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.at--account_link{
    margin-left: 20px;
    text-decoration: none;
    font-size: 24px;
    color: var(--secondary-font-color);
    text-shadow:2px 1px 0px #000;

}

.at--headernav{
    display: flex;
    list-style-type: none;
    margin-left: 70px;
    margin-bottom: 0;
    padding: 0;
}

.at--headernav li a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 24px;
    color: var(--secondary-font-color);
    text-shadow:2px 1px 0px #000;
}

.at--headernav li a:hover{
    color: var(--main-font-color);
    text-shadow:2px 1px 0px #fff;
}

.at--searchbar{
    display: flex;
    height: 36px;
    width: 244px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--secondary-font-color);
    border-radius: 10px;
    box-shadow: 4px 3px 0px #000;
    border: solid 1px #fff;
}

.at--searchbar:focus{
    outline: none;
}


.at--button__header{
    margin-left: 20px;
    height: 38px;
    width: 110px;
    background-color: var(--secondary-font-color);
    border-radius: 10px;
    border: none;
    box-shadow: 4px 3px 0px #000;
}

.at--button__header a{
    text-decoration: none;
    color:#4f4f4f;
}


.at--button__header:hover{
    background-color: var(--palette-tertiary-color);
    box-shadow: 4px 3px 0px #000;
    color:#000;
    transition: background-color 0.2s;
}


/*
----------------
Footer
----------------
*/

.at--footer{
    margin-top: 20px;
    height: 208px;
    background-color: var(--palette-main-color);
    color: #fff;
}

.at--footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 555px;
    margin: auto;
    background-color: var(--palette-main-color);
}

.at--footer__container img{
    height: auto;
    width: 251px;
}

.at--footernav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.at--footernav li a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    color: var(--secondary-font-color);
    text-shadow:2px 1px 0px #000;
    margin: 0;
    padding: 0;
}

.at--footernav li a:hover{
    color: var(--main-font-color);
    text-shadow:2px 1px 0px #fff;
}


.at--footer2{
    margin-top: 2px;
    height: 40px;
    background-color: var(--palette-main-color);
    color: #fff;
}

.at--footer2 p{   
    padding-top: 8px;
}

.at--footer2 a{
    text-decoration: none;
    color: #fff;
}

.at--footer2 a:hover{
    color: var(--palette-tertiary-color);
}


/*
----------------
404
----------------
*/

.at--404img{
    height: 277px;
    width: 277px;
    margin-right: 120px;
}

.at--404text{
    display: block;
}

/*
----------------
Information
----------------
*/

.at--info__logo{
    width: 557px;
    height: auto;
}

/*
----------------
Front-page, Latest, Explore, Search
----------------
*/

.at--container{
    margin: 35px 30px 30px 30px;
}

.at--grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 40px;
    margin-top: 45px;
    margin-bottom: 45px;
    
}

.at--miniatura img{
    width: 390px;
    height: 390px;
    object-fit: cover;
    border-radius: 10px;
}

.at--miniatura img:hover{
    border-radius: 10px;
    box-shadow: 4px 4px 2px #4f4f4f;
    transition: 0.2s;
}
.at--miniatura a{
    text-decoration: none;
}

.at--author__overlay{
    position: absolute;
    margin-left: 25px;
    padding: 0;

}

.at--author__overlay p{
    color: #000;
    font-size: 28px;
    opacity: 0;
    background-color: #fff;
    transform: translateY(-65px);
    border-radius: 10px;
    padding: 1px 6px;

}

.at--miniatura:hover .at--author__overlay p{
    opacity: 1;
    transition: 0.2s;

}

.at--button__join{
    justify-content: center;
    margin-top: 20px;
    height: 38px;
    width: 110px;
    background-color: var(--palette-main-color);
    border-radius: 10px;
    border: none;
    color: #fff;
    box-shadow: 4px 3px 0px #000;
}

.at--button__join:hover{
    background-color: var(--palette-secondary-color);
}

/*
----------------
Single.php (posts)
----------------
*/

.at--post__container{    
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.at--posttitle{
    display: flex;
    align-items: baseline;
    padding: 0;
}
.at--posttitle p{
    margin-left: 10px;
}

.at--postimage__container{
    width: 850px;
    height: 850px;
    overflow: hidden;    
    display: flex;
    justify-content: center;
    align-items: center;    

}

.at--postimage__container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.at--postcontent__container{
    display: block;
    width: 50%;
    height: 50%;
}