/*

Estilos CSS personalizados. Estos estilos deben de sobreescribir otros existentes (si los hay).
Para que no coincidan con otros se distinguiran con [at--].

*/


/* 
----------------
Imports 
----------------
*/
@import url('https://fonts.googleapis.com/css2?family=Jua&family=M+PLUS+Rounded+1c&display=swap');


/* 
----------------
Generales 
----------------
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-font-color: #000;
    --secondary-font-color: #fff;
    --tertiary-font-color: #4f4f4f;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    margin-bottom:auto;
}

footer{
    margin-top: auto;
}


/* 
----------------
Fuentes 
----------------
*/

/*- JUA -*/
.jua{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/*- M PLUS Round 1c -*/
.mplusr1c{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* 
----------------
Header 
----------------
*/

.at--header__container{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 105px;
    height: 100px;
    background-color: var(--palette-main-color);
}

.at--left__container{
    display: flex;
    align-items: center;
}

.at--left__container img{
    height: auto;
    width: 251px;
}

.at--account__container{
    margin-left: auto;
}

.at--headernav{
    display: flex;
    list-style-type: none;
    margin-left: 70px;
    margin-bottom: 0;
    padding: 0;
}

.at--headernav li a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 24px;
    color: var(--secondary-font-color);
    text-shadow:2px 1px 0px #000;
}

.at--headernav li a:hover{
    color: var(--main-font-color);
    text-shadow:2px 1px 0px #fff;
}

.at--searchbar{
    display: flex;
    height: 36px;
    width: 244px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--secondary-font-color);
    border-radius: 10px;
    box-shadow: 4px 3px 0px #000;
    border: solid 1px #fff;
}

.at--searchbar:focus{
    outline: none;
}


.at--button__header{
    height: 38px;
    width: 110px;
    background-color: var(--secondary-font-color);
    border-radius: 10px;
    border: none;
    box-shadow: 4px 3px 0px #000;
}

.at--button__header a{
    text-decoration: none;
    color:#4f4f4f;
}


.at--button__header:hover{
    background-color: var(--palette-tertiary-color);
    box-shadow: 4px 3px 0px #000;
    color:#000;
    transition: background-color 0.2s;
}


/*
----------------
Footer
----------------
*/

.at--footer{
    height: 248px;
    background-color: var(--palette-main-color);
    color: #fff;
}

.at--footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 555px;
    margin: auto;
    background-color: var(--palette-main-color);
}

.at--footer__container img{
    height: auto;
    width: 251px;
}

.at--footernav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.at--footernav li a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    color: var(--secondary-font-color);
    text-shadow:2px 1px 0px #000;
    margin: 0;
    padding: 0;
}

.at--footernav li a:hover{
    color: var(--main-font-color);
    text-shadow:2px 1px 0px #fff;
}

.at-footer__hr{
    border: solid 1px #fff;
    margin: 0px 0px 5px 0px;
    padding:0;
}

.at--footer__credits{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-weight: 400;

}

.at--container__tiny{
    min-height: calc(100vh - 248px);
}